.nav {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 100px;
    justify-content: right;
}

.nav-right {
    display: flex;
    align-items: center;
    /* justify-content: right; */
    float: right;
}

.nav-right a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}

.nav-right button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
}

.nav-right button img {
    width: 20px;
    height: 20px;
    background-color: transparent;
    background: none;
}

.trial {
    display: flex;
    flex-direction: column;
    gap: 5px;
}